<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Button</ion-title>
     
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>

    <section>
    
    </section>
    <ion-list>
      <ion-list-header>
       Forfaits Sms
      </ion-list-header>
  
      <ion-item>
     
        <ion-label>
          20F=SMS illimite/24H
        </ion-label>
        <ion-button expand="block" (click)="sms(1)">Go</ion-button>
       
      </ion-item>

      <ion-item>
     
        <ion-label>
          500F=SMS illimité/30J
        </ion-label>
        <ion-button expand="block" (click)="sms(2)">Go</ion-button>
       
      </ion-item>

      
      <ion-item>
     
        <ion-label>
          50F=SMS illimité + 50Mo Whatsapp/24H
        </ion-label>
        <ion-button expand="block" (click)="sms(3)">Go</ion-button>
       
      </ion-item>

      <ion-item>
     
        <ion-label>
          250F=SMS illimite +100Mo Whatsapp/7J
        </ion-label>
        <ion-button expand="block" (click)="sms(4)">Go</ion-button>
       
      </ion-item>

      <ion-item>
     
        <ion-label>
         750F=SMS illimité + 300Mo Whatsapp/30J
        </ion-label>
        <ion-button expand="block" (click)="sms(5)">Go</ion-button>
       
      </ion-item>

      <ion-item>
     
        <ion-label>
          500F=1.12Go(30Jrs)
        </ion-label>
        <ion-button expand="block" (click)="sms(5)">Go</ion-button>
       
      </ion-item>

      <ion-item>  
        <ion-label>
         149F=170Mo(30Jrs)
        </ion-label>
        <ion-button expand="block" (click)="sms(6)">Go</ion-button>  
      </ion-item>
  
    </ion-list>

 
   
  </ion-content>
</ion-app>



 
