<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Button</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>

    <section>

    </section>
    <ion-list>
      <ion-list-header>

        </ion-list-header>
      <ion-item>

        <ion-label>
         Solde appel
        </ion-label>
        <ion-button expand="block" (click)="solde()">Go</ion-button>

      </ion-item>
    


  </ion-list>
    <ion-list>
      <ion-list-header>
      Nos offres d'appels
      </ion-list-header>

      <ion-item>

        <ion-label>
        My way voix
        </ion-label>
        <ion-button expand="block" (click)="myway()">Go</ion-button>

      </ion-item>


      <ion-item>

        <ion-label>
       Orange pulse - 1000F =10000F
        </ion-label>
        <ion-button expand="block" (click)="orangepulse()">Go</ion-button>

      </ion-item>


    </ion-list>

    <ion-list>
      <ion-list-header>
         Orange Bonus
      </ion-list-header>

      <ion-item>

        <ion-label>
     3000F = 30000F/ réseau orange
        </ion-label>
        <ion-button expand="block" (click)="orangeBonus(1)">Go</ion-button>

      </ion-item>

      <ion-item>

        <ion-label>
      3500F=24500F / Tous réseaux
        </ion-label>
        <ion-button expand="block" (click)="orangeBonus(2)">Go</ion-button>

      </ion-item>

      <ion-item>

        <ion-label>
     3500F =24500F tous réseaux + 160Mo (459F)
        </ion-label>
        <ion-button expand="block" (click)="orangeBonus(3)">Go</ion-button>

      </ion-item>

    </ion-list>



    <ion-list>
      <ion-list-header>
         Appels gratuits de 22h à 5h vers orange
      </ion-list-header>

      <ion-item>

        <ion-label>
     250F = 1400F tous réseaux + 25Mo + 50 sms/3jrs
        </ion-label>
        <ion-button expand="block" (click)="appelgratuit(1)">Go</ion-button>

      </ion-item>

      <ion-item>

        <ion-label>
          200F = 1200F tous réseaux + 50 sms/3jrs
        </ion-label>
        <ion-button expand="block" (click)="appelgratuit(2)">Go</ion-button>

      </ion-item>

      <ion-item>

        <ion-label>
          200F = 1000F orange + 25Mo + 25 sms/4jrs
        </ion-label>
        <ion-button expand="block" (click)="appelgratuit(3)">Go</ion-button>

      </ion-item>


      <ion-item>

        <ion-label>
          100F = 500F orange + 25 sms/3jrs
        </ion-label>
        <ion-button expand="block" (click)="appelgratuit(4)">Go</ion-button>

      </ion-item>

    </ion-list>


  </ion-content>
</ion-app>




