<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Sms
    </ion-title>
    <ion-segment [(ngModel)]="selectTabs" value="mtn">
      <ion-segment-button value="mtn">
        <ion-label>MTN</ion-label>
      </ion-segment-button>
      <ion-segment-button value="orange">
        <ion-label>ORANGE</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="selectTabs == 'mtn'">
    <app-sms></app-sms>
  </div>

  <div *ngIf="selectTabs == 'orange'">
   
  </div>
 
</ion-content>
