<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Button</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>

    <section>

    </section>
    <ion-list>
      <ion-list-header>

        </ion-list-header>
      <ion-item>

        <ion-label>
         Solde appel
        </ion-label>
        <ion-button expand="block" (click)="solde()">Go</ion-button>

      </ion-item>
      <ion-item>

        <ion-label>
         Emprunter du credit
        </ion-label>
        <ion-button expand="block" (click)="emprunt()">Go</ion-button>

      </ion-item>


  </ion-list>
    <ion-list>
      <ion-list-header>
      Nos offres d'appels
      </ion-list-header>

      <ion-item>

        <ion-label>
         MTN Wanda
        </ion-label>
        <ion-button expand="block" (click)="wandaCall()">Go</ion-button>

      </ion-item>


      <ion-item>

        <ion-label>
         Forfaits appels
        </ion-label>
        <ion-button expand="block" (click)="wandaAppel()">Go</ion-button>

      </ion-item>

      <ion-item>

        <ion-label>
         Forfaits appels internationaux
        </ion-label>
        <ion-button expand="block" (click)="wandaInt()">Go</ion-button>

      </ion-item>


      <ion-item>

        <ion-label>
        MTN Go Plans
        </ion-label>
        <ion-button expand="block" (click)="mtngoplan()">Go</ion-button>

      </ion-item>

      <ion-item>

        <ion-label>
        MTN Yamo
        </ion-label>
        <ion-button expand="block" (click)="mtnyamo()">Go</ion-button>

      </ion-item>

    </ion-list>




  </ion-content>
</ion-app>




