<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Button</ion-title>
    
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>

    <section>
    
    </section>
    <ion-list>
      <ion-list-header>
      Solde Appel
      </ion-list-header>
      <ion-item>

        <ion-label>
         solde
        </ion-label>
        <ion-button expand="block" (click)="solde()">Go</ion-button>

      </ion-item>
  </ion-list>
    <ion-list>
      <ion-list-header>
       Forfaits MTN Wanda
      </ion-list-header>
  
      <ion-item>
     
        <ion-label>
          250F=1250F(3Jrs)
        </ion-label>
        <ion-button expand="block" (click)="wanda(0)">Go</ion-button>
       
      </ion-item>

    </ion-list>

 
    <ion-list>
      <ion-list-header>
       Forfait MTN Wanda jour
      </ion-list-header>
      <ion-item>  
        <ion-label>
        299F=10800 Appels MTN+600F
        </ion-label>
        <ion-button expand="block" (click)="wandaJour(0)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         69F=515F
        </ion-label>
        <ion-button expand="block" (click)="wandaJour(1)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         99F=750F
        </ion-label>
        <ion-button expand="block" (click)="wandaJour(2)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
        149F=1460F
        </ion-label>
        <ion-button expand="block" (click)="wandaJour(3)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         199F=1950F 
        </ion-label>
        <ion-button expand="block" (click)="wandaJour(4)">Go</ion-button>  
      </ion-item>
  
    </ion-list>



    <ion-list>
      <ion-list-header>
       Forfait MTN Wanda semaine
      </ion-list-header>
      <ion-item>  
        <ion-label>
         99F=700F
        </ion-label>
        <ion-button expand="block" (click)="wandaSemaine(1)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         199F=1450F
        </ion-label>
        <ion-button expand="block" (click)="wandaSemaine(2)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         299F=2250F
        </ion-label>
        <ion-button expand="block" (click)="wandaSemaine(3)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         499F=3800F
        </ion-label>
        <ion-button expand="block" (click)="wandaSemaine(4)">Go</ion-button>  
      </ion-item>
  
    </ion-list>

    
    <ion-list>
      <ion-list-header>
       Forfait wanda mois
      </ion-list-header>
      <ion-item>  
        <ion-label>
        199F=1450F
        </ion-label>
        <ion-button expand="block" (click)="wandaMois(1)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         399F=2925F
        </ion-label>
        <ion-button expand="block" (click)="wandaMois(2)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         599F=4500F
        </ion-label>
        <ion-button expand="block" (click)="wandaMois(3)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         999F=7600F
        </ion-label>
        <ion-button expand="block" (click)="wandaMois(4)">Go</ion-button>  
      </ion-item>
  
    </ion-list>

    <ion-list>
      <ion-list-header>
      Forfait Appel Jour
      </ion-list-header>
      <ion-item>  
        <ion-label>
        100F=300F+20SMS
        </ion-label>
        <ion-button expand="block" (click)="appelJour(1)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         250F=750+20SMS
        </ion-label>
        <ion-button expand="block" (click)="appelJour(2)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         500F=1500F+30SMS
        </ion-label>
        <ion-button expand="block" (click)="appelJour(3)">Go</ion-button>  
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header>
      Forfait Appel Semaine
      </ion-list-header>
      <ion-item>  
        <ion-label>
        300F=900F+30SMS
        </ion-label>
        <ion-button expand="block" (click)="appelSemaine(1)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         1000F=3000F+100SMS+1FAF
        </ion-label>
        <ion-button expand="block" (click)="appelSemaine(2)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
        2500F=8000F+100SMS+1FAF
        </ion-label>
        <ion-button expand="block" (click)="appelSemaine(3)">Go</ion-button>  
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header>
      Forfait Appel Mois
      </ion-list-header>
      <ion-item>  
        <ion-label>
        600F=1800F+50SMS
        </ion-label>
        <ion-button expand="block" (click)="appelSemaine(1)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
         2000F=7000F+250SMS+1FAF
        </ion-label>
        <ion-button expand="block" (click)="appelSemaine(2)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
        4000F=14500F+250SMS+1FAF
        </ion-label>
        <ion-button expand="block" (click)="appelSemaine(3)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
        12000F=44000F+500SMS+3FAF
        </ion-label>
        <ion-button expand="block" (click)="appelSemaine(3)">Go</ion-button>  
      </ion-item>

      <ion-item>  
        <ion-label>
        26000F=96000F
        </ion-label>
        <ion-button expand="block" (click)="appelSemaine(4)">Go</ion-button>  
      </ion-item>
    </ion-list>

  </ion-content>
</ion-app>



 
